<!doctype html>
<html>

<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pirata+One&family=Lacquer&family=Londrina+Solid:wght@900&display=swap"
        rel="stylesheet">
    <style>
        .buttons .submit:hover {
            transform: scale(1.1);
        }

        .buttons .submit:active,
        .buttons button:active {
            transform: scale(0.8);
        }

        #cafe {
            margin-bottom: 0;
            margin-top: 11%;
            color: white;
            font-family: 'Londrina Solid', cursive;
            font-size: 120px;
            letter-spacing: 3px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
            text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.705);
        }

        body {
            background-color: rgb(0, 97, 188);
            text-align: center;
        }


        .title {
            width: 80%;
            margin: auto;
            height: 250px;
            margin-top: 2%;
            clear: both;
        }


        .signInorsignUp {
            margin: auto;
            width: 25%;
            float: left;
            margin-left: 7%;
        }

        input {
            font: 25px 'Lacquer', cursive;
            letter-spacing: 1px;
            padding: 15px;
            border-radius: 10px;
            border: 3px solid black;
            box-shadow: 10px 10px 1px rgba(4, 4, 4, 0.281);
        }

        .signInorsignUp a,
        .signInorsignUp span {
            color: white;
            text-decoration: none;
            font: 20px 'Londrina Solid', cursive;
            margin-left: 3%;
            background: rgb(1, 138, 129);
            padding: 10px;
            padding-right: 20px;
            letter-spacing: 2px;

        }

        .signInorsignUp span {
            padding: 0;
        }

        .signInorsignUp a {
            box-shadow: 7px 7px 1px rgba(4, 4, 4, 0.408);
        }

        .thanks {
            font: 40px 'Lacquer', cursive;
            color: white;
            clear:both;

        }

        #welcome {
            color: rgba(255, 255, 255, 0.274);
            font: 60px 'Homemade Apple', cursive;
            letter-spacing: 4px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;
            text-shadow: 6px 5px 10px rgba(255, 255, 255, 0.705);
            margin: 0;
            margin-bottom: -16.5%;
        }

        #main {
            width: 100%;
            margin: auto;
        }

        img {
            width: 100%;
        }

        button {
            font: 30px 'Lacquer', cursive;
            border-radius: 20px;
            padding: 10px;
            border: 3px solid black;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
            margin: 4%;
        }

        #size,
        #roast {
            width: 13%;
            float: left;
        }

        #size{
            margin-left:2%;
        }

        #roast{
            margin-left:3%;
        }

        #size {
            clear: both;
        }

        #coffee {
            width: 42.5%;
            float: left;
            margin-left:2%;

        }

        #tea {
            width: 20%;
            float: right;
            margin-right:4%;
        }

        #custom {
            width: 100%;
            float: right;
            clear:both;
            margin-top: 2%;
        }

        #customTitle{
            float:left;
            width:37%;
            clear:both;
            height:130px;
            font: 20px 'Londrina Solid', cursive;
            background: rgba(0, 0, 0, 0.363);
            color:white;
            letter-spacing: 2px;
            margin:auto;
            margin:1%;
            margin-top:1%;
        }

        #customTitle span{
            color:rgb(255, 191, 0);
            font-size:60px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
            text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.705);
        }

        #coffee button {
            float: left;
            margin:2.5%;
            margin-bottom: 0;
        }

        #custom button {
            margin: .5%;
            margin-bottom: 1%;
            background: rgb(13, 31, 61);
            color: white;
        }

        #tea button {
            background: rgb(178, 236, 255);
            margin-bottom: 2%;
        }

        #coffee button {
            background: rgb(1, 59, 114);
            color: white;
        }


        #size button {
            background: rgb(84, 172, 255);
            color: white;
            float: left;
        }


        #roast button {
            background: rgb(135, 197, 255);
            float: left;
        }

        .buttons {
            margin-left:2%;
            float: left;
            width: 60%;
        }

        .buttons button {
            box-shadow: 6px 5px 1px rgba(4, 4, 4, 0.408);

        }

        .customerName {
            width: 35%;
            float: left;
            clear: both;
            margin-bottom: 4%;
        }

        .buttons .customerOrder {
            width: 35%;
            float: left;
            margin-left: 2%;
        }

        .buttons .submit {
            background-color: rgba(255, 255, 255, 0);
            background-image: url('enter.png');
            background-size: 100%;
            width: 180px;
            height: 55px;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            box-shadow: 0px 0px 0px rgba(4, 4, 4, 0);
            margin: 0;
            margin-top: 1%;
            margin-left:1.2%;
        }


    </style>
</head>


<body>
    <section class="title">
        <h1 id="welcome">Welcome to...</h1>
        <h1 id="cafe">Cafe con Leche</h1>
    </section>

    <section id="main">
        <section class="signInorsignUp">
            <img src='cafe.png' id="coffeePic"><br>
            <a href="/login" class="btn btn-default "><span class="fa fa-user "></span>Login</a>
            <a href="/signup" class="btn btn-default log"><span class="fa fa-user log"></span>Signup</a>
            <h4 class="thanks"></h4>

        </section>
        <section class="buttons">
            <input class="customerName" oninput="customerNameInput" placeholder="enter customer's name">
            <input class="customerOrder" oninput="customerInstruction" placeholder="special instructions">

            <button class="submit" type=submit onclick="addOrder()"></button>

            <section id="size">
                <button onclick='clickButton(event)'>tall</button>
                <button onclick='clickButton(event)'>grande</button>
                <button onclick='clickButton(event)'>venti</button>
            </section>
            <section id="roast">
                <button onclick='clickButton(event)'>light</button>
                <button onclick='clickButton(event)'>medium</button>
                <button onclick='clickButton(event)'>dark</button>
            </section>
            <section id="coffee">
                <button onclick='clickButton(event)'>reg coffee</button>
                <button onclick='clickButton(event)'>cold brew</button>
                <button onclick='clickButton(event)'>1 espresso shot</button>
                <button onclick='clickButton(event)'>latte</button>
                <button onclick='clickButton(event)'>cappucino</button>
                <button onclick='clickButton(event)'>frappucino</button>

            </section>
            <section id="tea">
                <button onclick='clickButton(event)'>green tea</button>
                <button onclick='clickButton(event)'>black tea</button>
                <button onclick='clickButton(event)'>other tea</button>
            </section>
          
            <section id="custom">
                <p id="customTitle"><span>free add ons</span>
                specifics of the add ons, like what kind of milk, go in the instructions
                </p>
                <button onclick='clickButton(event)'>decaf</button>
                <button onclick='clickButton(event)'>iced</button>
                <button onclick='clickButton(event)'>hot</button>
                <button onclick='clickButton(event)'>milk</button>
                <button onclick='clickButton(event)'>sugar</button>
                <button onclick='clickButton(event)'>dairy-free sub</button>
                <button onclick='clickButton(event)'>add syrup</button>
                <button onclick='clickButton(event)'>no whip</button>
            </section>
        </section>
    </section>

</body>
<script src="main.js"></script>


</html>